// Navigation Styles here
.upper-content {
    border-bottom: 2px dashed lightgray;
    display: flex;
    padding: 20px 0;
}
.navigation {
    display: flex;
    margin-left: 364px;
    a {
        text-decoration: none;
        color: black;
        font-size: 1.4rem;
        padding: 15px;
        
    }
}